* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 15px;
    color: #DDCC95;
}

.body {
    display: flex;
    justify-content: center;
    background-color: #C40309;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #165C74;
    width: 60%;
    border-radius: 15px;
    border: 5px  #F5990D dotted;
    transition: border linear 1s;
    
}
.main:hover {
    border: 8px  #dfa34b dotted;
    transition: border linear 1s;
}

.title {
    color: #F5990D;    
}
.input {
    width: 40%;
    color: #C40309;
}

.btn {
    width: 30%;
    color: whitesmoke;
    background-color: #F33708;
    border: 2px #F33708 solid;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
}
.btn:hover {
    background-color: #C40309;
    border: 2px #C40309 solid;
}

.btn:active {
    background-color: #C40309;
    border: 2px #C40309 solid;
}

.bold {
    margin: 0;
}