* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 15px;
}

.main {
    display: flex;
    flex-direction: column;
}

.input {
    width: 40%;
}

.btn {
    width: 15%;
    color: whitesmoke;
    background-color: #F33708;
    border: 2px #F33708 solid;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
}
.btn:hover {
    background-color: #C40309;
    border: 2px #C40309 solid;
}

.btn:active {
    background-color: #C40309;
    border: 2px #C40309 solid;
}